.hero-image {
    height: 45vh;
    border: 2px solid white
}

.margin-border {
    margin: 20px;
    border: 2px solid;
    border-color: black;
    box-shadow: 5px 5px;
}

.box-shadow {
    border: 2px solid;
    padding: 10px;
    box-shadow: 5px 10px
}